@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Space+Grotesk:wght@500&display=swap');




*{
    padding: 0;
    margin: 0;
    
}


:root{
    --font--span:#7CA2F4;
    --font--dark10:#121214;
    --font--background:red;
    --color-branco:#fff;
    --font-principal: 'Archivo', sans-serif;
}

/* header/banner  */

.container__nav{
    font-family: var(--font-principal);
    font-size: 1.3em;
    text-align: center;
    padding: 0.5em 0;
    font-weight: 500;
}
.banner__principal{
    width: 100vw;
    height: 25em;
    background-image: url(img/image-michael-jordan.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.descricao__banner{
    font-family: var(--font-principal);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color-branco) ;
    padding: 5.93em 0 0 12em;
}
.descricao__banner h2{
    font-family: var(--font-principal);
    font-size: 2em;
}
.descricao__banner span{
    font-family: var(--font-principal);
    font-size: 1.5em;
    font-weight: 400;
    line-height: 33.66px;
}
.descricao__logo{
    font-family: var(--font-principal);
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

/* conteudo principal/main */
.secao__principal{
    padding: 0 10em;
}

.descricao__principal{
    text-align: center;
    padding-top: 5em;
}
.descricao__principal h2{
    font-family: var(--font-principal);
    font-size: 2em;
    font-weight: 600;
    line-height: 34.82px;
    padding-bottom: 1em;
}
.descricao__principal h4{
    font-family: var(--font-principal);
    font-size: 1.5em;
    font-weight: 400;
    line-height: 33.6px;
    padding-bottom: 4.5em;
}
/* produtos */
.secao__produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.produtos img{
    background-color: var(--font--background);
    padding: 4.96em 8.43em ;
}

.produtos h2{
    font-weight: 500;
    font-size: 1.12em;
    line-height: 23.4px;
    padding-bottom: 0.5em;
    font-family: var(--font-principal);
}
.produtos span{
    font-size: 1em;
    font-weight: 500;
    color: var(--font--span);
    line-height: 17.41px;
    font-family: var(--font-principal);
}
.preco{
    font-family:  'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 25.52px;
    padding: 1em 0 2em 0;
}

